### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
tmp
*.tmp
*.tmproj
.vscode
!scripts/.vscode
why-is-node-running.done
why-is-node-running.log
bazel-bin
bazel-genfiles
bazel-mms*
bazel-out
bazel-testlogs
.bazelrc.local
.ijwb
.env*
*.log
*.env
service-*-secure.yaml
*-service-*-secure.yaml
bazel-learn-*